body {
    background-image: url("../images/train-station.jpg");
}

#head-container {
    margin-top: 1%;
}

#table-container {
    background-color: rgba(190, 190, 190, 0.8);
    border: 2px solid black;
    padding: 0px 0px 10px 0px;
}

#head {
    text-align: center;
    background-color: #141f3d;
    color: white;
    padding: 2%;
}

.panel-body {
    margin: 5px 10px;
}

.panel-custom {
    background-color: #141f3d !important;
    color: white !important;
    padding: 5px 10px;
    font-weight: bold;
}

label {
    font-weight: bold;
}

table {
    margin: 0 auto;
}

th {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
}

hr {
    margin: 1%;
}

td {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
    font-weight: bold;
}

h1 img {
    width: 5%;
    padding-bottom: 1%;
}

.glyphicon-remove {
    color: darkred;
    padding-left: 15%;
}

.form-control:focus {
    border-color: #141f3d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #141f3d;
}